@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1F2328;
}

.cabecalho {
    height: 4em;
    background-color: #f6f8fa;
    display: flex;
    align-items: center;
    padding: 0 1em;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2)
}

.cabecalho__titulo {
    font-size: 2em;
    font-family: "Kode Mono", monospace;
    font-weight: 600;
}

.principal {
    padding: 3em 15%;
    min-height: calc(100vh - 13em);
    display: flex;
    align-items: flex-start;
    gap: 1em;
}

.principal__entrada {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.principal__entrada__box {
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}

.principal__textarea {
    width: calc(100% - 2em);
    resize: none;
    outline: none;
    padding: 1em;
    font-size: 2em;
}

#texto-entrada {
    height: 10em;
    border-radius: 10px 10px 0 0;
}

.principal__entrada__acoes {
    display: flex;
}

.principal__entrada__acoes__botao {
    width: 50%;
    padding: 0.5em;
    font-size: 1.2em;
    background-color: #f6f8fa;
}

/* .principal__entrada__acoes__botao.dark {
    background-color: black;
    color: white;
} */

.principal__entrada__acoes__botao:hover {
    background-color: #f3f4f6;
}

.principal__entrada__acoes__botao:active {
    background-color: #ebecf0;
}

#botao-criptografar {
    border-top: 2px solid rgba(0, 0, 0, 0.12);
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 0 0 0 10px;
}

#botao-descriptografar {
    border-top: 2px solid rgba(0, 0, 0, 0.12);
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 0 0 10px 0;
}

.principal__entrada__aviso {
    padding: 0.2em;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    gap: 0.2em;
}

.principal__entrada__aviso__icone {
    height: 1.2em;
}

.principal__saida {
    width: 50%;
}

#texto-saida {
    border-radius: 10px;
    background-color: #f5f5f5;
}

.rodape {
    height: 3em;
    background-color: #f6f8fa;
    display: flex;
    justify-content: center;
    align-items: center;
}