@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --cor-background: #ffffff;
    --cor-cabecalho: #f6f8fa;
    --cor-saida: #f5f5f5;
    --cor-texto: #1f2328;
    --cor-texto-hover: #6f7378;
    --cor-texto-active: #8f9398;
    --cor-texto-disabled: rgba(16, 16, 16, 0.3);
    --cor-botao: #f6f8fa;
    --cor-botao-hover: #f3f4f6;
    --cor-botao-active: #ebecf0;
    --cor-shadow: rgba(0, 0, 0, 0.2);
    --cor-border: rgba(0, 0, 0, 0.12);
    --cor-erro: #ff0000;
    --cor-slider: #cccccc;

    --fonte-titulo: "Kode Mono", monospace;
    --fonte-texto: "Roboto", sans-serif;

    --tamanho-fonte-titulo: 2rem;
    --tamanho-fonte-tema: 1rem;
    --tamanho-fonte-texto: 1.2rem;
    --tamanho-fonte-textarea: 2rem;
    --tamanho-fonte-rodape: 1rem;
}

body {
    background-color: var(--cor-background);
    font-size: 1rem;
    font-family: var(--fonte-texto);
    font-weight: 400;
    font-style: normal;
    color: var(--cor-texto);
}

.dark {
    --cor-background: #000000;
    --cor-cabecalho: #21262d;
    --cor-saida: #161b22;
    --cor-texto: #e6edf3;
    --cor-texto-hover: #969da3;
    --cor-texto-active: #767d83;
    --cor-texto-disabled: rgba(255, 255, 255, 0.3);
    --cor-botao: #21262d;
    --cor-botao-hover: #30363d;
    --cor-botao-active: hsla(212,12%,18%,1);
    --cor-shadow: rgba(255, 255, 255, 0.25);
    --cor-border: #30363d;
    --cor-erro: #ff0000;
    --cor-slider: #555555;
}

.cabecalho {
    height: 4rem;
    background-color: var(--cor-cabecalho);
    display: flex;
    align-items: center;
    padding: 0 1rem;
    box-shadow: 0 2px 2px var(--cor-shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho__titulo {
    font-size: var(--tamanho-fonte-titulo);
    font-family: var(--fonte-titulo);
    font-weight: 600;
}

.cabecalho__tema {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--tamanho-fonte-tema);
    font-weight: 500;
}

.cabecalho__tema__switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 30px;
}

.cabecalho__tema__switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.cabecalho__tema__switch__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--cor-slider);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.cabecalho__tema__switch__slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: var(--cor-background);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

#checkbox-tema:checked + .cabecalho__tema__switch__slider:before {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
}

.cabecalho__tema__switch__icon {
    display: none;
}

main {
    padding: 2rem 15%;
    min-height: calc(100vh - 13rem);
}

.erro {
    width: 100%;
    height: 2rem;
    font-size: var(--tamanho-fonte-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor-erro);
}

.principal {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.principal__entrada {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.principal__entrada__box {
    border: 1px solid var(--cor-border);
    border-radius: 10px;
}

.principal__textarea {
    height: 10rem;
    width: calc(100% - 2rem);
    resize: none;
    outline: none;
    padding: 1rem;
    font-size: var(--tamanho-fonte-textarea);
    color: var(--cor-texto);
}

#texto-entrada {
    background-color: var(--cor-background);
    border-radius: 10px 10px 0 0;
}

.principal__entrada__acoes {
    display: flex;
}

.principal__acoes__botao {
    padding: 0.5rem;
    font-size: var(--tamanho-fonte-texto);
    background-color: var(--cor-botao);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.principal__acoes__botao:not([disabled]):hover {
    background-color: var(--cor-botao-hover);
}

.principal__acoes__botao:not([disabled]):active {
    background-color: var(--cor-botao-active);
}

.principal__acoes__botao:disabled {
    color: var(--cor-texto-disabled);
}

.principal__acoes__botao_icon {
    height: 1.2rem;
}

#botao-criptografar {
    width: 50%;
    border-top: 2px solid var(--cor-border);
    border-right: 1px solid var(--cor-border);
    border-radius: 0 0 0 10px;
}

#botao-descriptografar {
    width: 50%;
    border-top: 2px solid var(--cor-border);
    border-left: 1px solid var(--cor-border);
    border-radius: 0 0 10px 0;
}

.principal__entrada__aviso {
    padding: 0.2rem;
    font-size: var(--tamanho-fonte-texto);
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.principal__entrada__aviso__icone {
    height: 1.2rem;
}

.principal__saida {
    width: 50%;
}

#texto-saida {
    border-radius: 10px 10px 0 0;
    background-color: var(--cor-saida);
    box-shadow: 0 4px var(--cor-saida);
}

#botao-copiar {
    width: 100%;
    border: 1px solid var(--cor-border);
    border-top: 2px solid var(--cor-border);
    border-radius: 0 0 10px 10px;
}

.rodape {
    height: 5rem;
    background-color: var(--cor-cabecalho);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: var(--tamanho-fonte-rodape);
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.social__ancora {
    height: calc(var(--tamanho-fonte-rodape) * 1.5);
}

.social__icon {
    height: calc(var(--tamanho-fonte-rodape) * 1.5);
    color: var(--cor-texto);
}

.social__icon:hover {
    color: var(--cor-texto-hover);
}

.social__icon:active {
    color: var(--cor-texto-active);
}

@media (max-width: 1366px) {
    main {
        padding: 2rem 10%;
    }
}

@media (max-width: 1200px) {
    :root {
        --tamanho-fonte-titulo: 2rem;
        --tamanho-fonte-tema: 1rem;
        --tamanho-fonte-texto: 1rem;
        --tamanho-fonte-textarea: 1.5rem;
        --tamanho-fonte-rodape: 1rem;
    }
}

@media (max-width: 1024px) and (orientation: portrait) {
    :root {
        --tamanho-fonte-titulo: 2rem;
        --tamanho-fonte-tema: 1rem;
        --tamanho-fonte-texto: 1.2rem;
        --tamanho-fonte-textarea: 2rem;
        --tamanho-fonte-rodape: 1rem;
    }

    .principal {
        flex-direction: column;
    }

    .principal__entrada {
        width: 100%;
    }

    .principal__saida {
        width: 100%;
    }
}

@media (max-width: 768px) {
    :root {
        --tamanho-fonte-titulo: 1.5rem;
        --tamanho-fonte-tema: 1rem;
        --tamanho-fonte-texto: 1.2rem;
        --tamanho-fonte-textarea: 1.5rem;
        --tamanho-fonte-rodape: 1rem;
    }

    .cabecalho {
        justify-content: center;
    }

    .cabecalho__tema {
        position: absolute;
        right: 5px;
    }

    .cabecalho__tema__label {
        display: none;
    }

    .cabecalho__tema__switch {
        height: auto;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cabecalho__tema__switch__slider {
        display: none;
    }

    .cabecalho__tema__switch__icon {
        height: var(--tamanho-fonte-titulo);
        color: var(--cor-texto);
    }

    #luz-ligada.show {
        display: block;
    }

    #luz-desligada.show {
        display: block;
    }

    main {
        padding: 2rem 5%;
    }

    .principal {
        flex-direction: column;
    }

    .principal__entrada {
        width: 100%;
    }

    .principal__saida {
        width: 100%;
    }
}

@media (max-width: 480px) {
    :root {
        --tamanho-fonte-titulo: 1.2rem;
        --tamanho-fonte-tema: 1rem;
        --tamanho-fonte-texto: 0.8rem;
        --tamanho-fonte-textarea: 1.2rem;
        --tamanho-fonte-rodape: 0.8rem;
    }
}

@media (max-width: 320px) {
    :root {
        --tamanho-fonte-titulo: 1rem;
        --tamanho-fonte-tema: 1rem;
        --tamanho-fonte-texto: 0.7rem;
        --tamanho-fonte-textarea: 1rem;
        --tamanho-fonte-rodape: 0.7rem;
    }
}